<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sleepingbear.pennovel">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyNovelActivity"
            android:label="@string/title_activity_my_novel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NovelActivity"
            android:label="@string/title_activity_novel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NovelViewActivity"
            android:label="@string/title_activity_novel_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsClickWordActivity"
            android:label="@string/title_activity_news_click_word"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VocabularyNoteActivity"
            android:label="@string/title_activity_vocabulary_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VocabularyNoteViewActivity"
            android:label="@string/title_activity_vocabulary_note_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudyActivity"
            android:label="@string/title_activity_study"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study2Activity"
            android:label="@string/title_activity_study2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study4Activity"
            android:label="@string/title_activity_study4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study5Activity"
            android:label="@string/title_activity_study5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Study6Activity"
            android:label="@string/title_activity_study6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WordViewActivity"
            android:label="@string/title_activity_word_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SentenceViewActivity"
            android:label="@string/title_activity_sentence_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebTranslateActivity"
            android:label="@string/title_activity_web_translate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebDictionaryActivity"
            android:label="@string/title_activity_web_dictionary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PatchActivity"
            android:label="@string/title_activity_patch"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".MySpeechService">
            <intent-filter>
                <action android:name="com.sleepingbear.pennovel.MySpeechService" />
            </intent-filter>
        </service>

        <activity
            android:name=".NovelSiteActivity"
            android:label="@string/title_activity_novel_site"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NovelSiteViewActivity"
            android:label="@string/title_activity_novel_site_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>